.p3{
    color: blue;
}

.h1{
    color: skyblue;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-style: italic;
}
.p{
    color: rgb(255, 0, 225);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-style: italic;
}
.ul{
    color: rgb(36, 9, 110);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    font-style: italic;
    display: inline-block;
}
.li{
    color: rgb(42, 78, 46);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    font-style: bold;
}

.d1{
    height: 100px;
    width: 100px;
    background-color: rgb(94, 38, 146);
    color: white;
    background-image: url(Dal-vat.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10px;
    margin: 10px 0px 10px 0px;
    border: 7px solid rgb(26, 217, 255);
    border-radius: 5px 10px 5px 10px;
}
.d2{
    height: 100px;
    width: 100px;
    background-color: rgb(47, 138, 21);
    color: white;
    background-repeat: no-repeat;
    background-image: url( paper.png);
    background-size: contain;
    background-position: 10px;
    margin: 10px 0px 10px 0px;
    border: 7px solid rgb(111, 255, 0);
    border-radius: 5px 10px 5px 10px;
}

.d3{
    height: 100px;
    width: 100px;
    background-color: rgb(179, 38, 38);
    color: white;
    background-repeat: no-repeat;
    background-image: url(secer.png);
    background-size: contain;
    background-position: 10px;
    margin: 10px 0px 10px 0px;
    border: 7px solid rgb(8, 41, 255);
    border-radius: 5px 10px 5px 10px;
}
.d4{
    height: 100px;
    width: 100px;
    background-color: rgb(38, 22, 158);
    color: white;
    background-repeat: no-repeat;
    background-image: url(rock.png);
    background-size: contain;
    background-position: 10px;
    margin: 10px 0px 10px 0px;
    border: 7px solid rgb(255, 26, 26);
    border-radius: 5px 10px 5px 10px;
}
.div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color: rgb(34, 62, 62);
}