*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image:url(illustration-japanese-city.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: #fffcfc;
    font-family: 'Times New Roman', Times, serif;
}
.gigital-watch{
    font-size: 5rem;
    text-shadow: 0px 0px 10px #0eefff ;
    color: black;

}
.watch{
    position: relative;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #0eefff;
}
.watch .time{
    position: absolute;
    transform: rotate(calc(30deg*var(--i)));
    text-align: center;
    inset: 12px;
}
.watch .time b{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    text-shadow:0px 0px 5px #0eefff;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    height: 9px;
    width: 9px;
    border-radius: 50%;
}
.hand{
    position: absolute;
    top: 53%;
    left: 53%;
    transform-origin: bottom;
}
.hour{
    position: absolute;
    height: 50px;
    width: 6px;
    border-radius: 40%;
    background-color: black;
}
.min{
    position: absolute;
    height: 57px;
    width: 4px;
    border-radius: 40%;
    background-color: rgb(50, 15, 132);
}
.sec{
    position: absolute;
    height: 63px;
    width: 2.5px;
    border-radius: 40%;
    background-color: rgb(255, 0, 0);
}
